/* GENERAL */

body{
  font-family: "Montserrat";
}

.button{
  border-radius: 20px;
  padding: 7px 20px;
  margin: 0 10px;
  background: none;
  border: 2px solid black;
  font-size: 14px;
  font-weight: 700;
}

/*
- Rouge: #ef5466
- Bleu: #2d96c8
- Gris clair: #f9f9f9
- Gris foncé: #8e8e94
*/

/* HEADER */

header{
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(0,0,0,0.2);
}

.headerbox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 150px;
}

.headerbox img{
  height: 30px;
}

nav a{
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding: 0 15px;
}

.connex{
  color: #2d96c8;
  border-color: #2d96c8;
}

.join{
  color: white;
  background: #2d96c8;
  border-color: #2d96c8;
}

/*FIRST*/

.first{
  padding-top: 70px;
  padding-bottom: 60px;
  background: rgb(49,242,204);
  background: linear-gradient(140deg, rgba(49,242,204,1) 20%, rgba(70,105,255,1) 55%, rgba(153,52,211,1) 81%);
}

.firstbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}

.firstbox h2{
  color: black;
  font-weight: 700;
  font-size: 40px;
}

.firstbox h1{
  font-weight: 800;
  font-size: 60px;
  padding: 40px;
}

.firstbox h4{
  font-weight: 400;
  line-height: 17px;
}

.firstbox button{
  margin: 50px 0;
  padding: 25px 110px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 60px;
  color: white;
  border: solid #33338d;
  background: #33338d;
}

.firstbox ul{
  list-style-type: initial;
  list-style-position: unset;
  line-height: 5px;
  font-weight: 200;
  font-size: 16px;
}

/* INFORMATION */

.infobox{
  margin: 10px 100px;
}

.infobox h1{
  text-align: center;
  padding: 90px;
  font-size: 70px;
  font-weight: 700;
}

.col{
  padding: 5px 26px;
}

.col h4{
  font-weight: 600;
  font-size: 17px;
}

.col p{
  font-size: 14px;
  color: #8e8e94;
  padding-bottom: 50px;
}

/* PUBLICITE */

.publicite{
  text-align: center;
}

.pubtitle{
  padding: 60px 20px 20px 20px;
}

.publicite h1{
  font-size: 60px;
}

.container-pub{
  padding: 20px;
}

.publicite img{
  width: 100%;
}

/* NOCONNEX */

.noconnexionbox{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
}

.noconnexionbox img{
  order: -2;
  width: 650px;
}

.noconnex{
  flex-direction: column;
}

.noconnex h1{
  font-size: 60px;
  font-weight: 700;
  margin: 60px 0;
}
.noconnex p{
  width: 400px;
}

/* Fonctionalite */


@media (min-width: 1200px){
  .container{
    max-width: 910px;
  }
  .container-pub{
      max-width: 548px;
  }
  
}